@charset "UTF-8";
body {
  margin: 0;
  background-color: #868686;
}

*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

p {
  margin-top: 0;
}

input {
  margin: 0;
}

@font-face {
  font-family: 'Conv';
  src: url("fonts/15767.eot");
  src: local("☺"), url("../../fonts/15767.woff") format("woff"), url("fonts/15767.ttf") format("truetype"), url("fonts/15767.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MazzardH';
  src: url("fonts/MazzardH-ExtraLight.eot");
  src: local("☺"), url("../../fonts/MazzardH-ExtraLight.woff") format("woff"), url("fonts/MazzardH-ExtraLight.ttf") format("truetype"), url("fonts/MazzardH-ExtraLight.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

body {
  background-color: #f9f7f2;
  font-family: 'Conv';
  font-weight: 400;
}

.container {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
}

.options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #ffe76f;
  height: 30px;
  color: #dbaa00;
  font-weight: 700;
  font-size: 12px;
}

.options .options__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.options__left_icon {
  border-right: 1px solid #dbaa00;
  padding: 0 12px 0 12px;
}

.options__left_icon:first-child {
  padding: 0 12px 0 0;
}

.options__left .time {
  padding-right: 12px;
}

.options .left__icon_img {
  cursor: pointer;
}

.options__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.options__right_icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-left: 1px solid #dbaa00;
  padding: 0 12px 0 12px;
  cursor: pointer;
}

.options__right_icon:last-child {
  padding: 0 0 0 12px;
}

.options__right .right__icon_title:last-child {
  padding-right: 5px;
}

.options__right .right__icon_img {
  padding-left: 3px;
}

.header {
  background-color: #fff;
  margin-bottom: 50px;
}

.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 8px 0;
}

.header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .logo__title {
  color: #e9bd38;
  font-size: 16px;
  letter-spacing: 1px;
  font-weight: 700;
  cursor: pointer;
}

.header .logo__subtitle {
  font-weight: 400;
}

.header .logo__img {
  width: 60px;
  height: 60px;
  margin-right: 14px;
}

.header .nav__link {
  color: #403f3d;
  font-size: 16px;
  text-decoration: none;
  margin-left: 30px;
}

.header .nav__link:first-child {
  margin-left: 0;
}

.intro {
  margin-bottom: 100px;
}

.intro__inner {
  background-color: #fff;
  width: 100%;
  height: 300px;
  border-radius: 10px;
  padding: 15px;
  overflow: hidden;
}

.intro__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
}

.about {
  background-color: #fff;
  padding-bottom: 30px;
  padding-top: 30px;
}

.about__tabs {
  margin-top: -75px;
  left: 0;
  top: -50px;
  background-color: #fff;
  padding: 15px 30px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-shadow: 0 2px 16px 0 rgba(138, 108, 33, 0.06);
          box-shadow: 0 2px 16px 0 rgba(138, 108, 33, 0.06);
  border-radius: 10px;
}

.about .tabs__item {
  padding: 15px 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-right: 1px solid #f5d74263;
}

.about .tabs__item:last-child {
  border-right: none;
}

.about .tabs__link {
  text-decoration: none;
  font-size: 14px;
  letter-spacing: 0.44px;
  color: #403f3d;
  font-weight: 700;
  margin-left: 25px;
}

.about__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  margin: 30px 0 30px 0;
}

.about__content_main {
  padding: 20px 25px 25px 25px;
  width: 66.66666%;
  background-color: #feeebd;
  margin-right: 15px;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
}

.about__content_main:after {
  content: '';
  display: block;
  background-image: url("../../img/about/flower.png");
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  top: 0;
  left: 55%;
  width: 100%;
  height: 100%;
}

.about__content_main .content__main_header {
  margin-bottom: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 1.23px;
  color: #e9bd38;
}

.about__content_main .main__header_title {
  margin-right: 50px;
}

.about__content_main .content__main_title {
  font-size: 24px;
  font-weight: 700;
  line-height: 1.25;
  color: #403f3d;
  margin-bottom: 10px;
  padding-right: 60%;
}

.about__content_main .content__main_text {
  opacity: 0.9;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.33;
  color: #403f3d;
  margin-bottom: 50px;
  padding-right: 40%;
}

.about__content_main .content__main_readmore {
  font-size: 14px;
  font-weight: 700;
  color: #e9bd38;
  text-decoration: none;
  position: relative;
}

.about__content_main .content__main_readmore::after {
  content: '';
  position: absolute;
  background-image: url("../../img/about/right-arrow.svg");
  background-repeat: no-repeat;
  top: 4px;
  right: -30px;
  width: 21px;
  height: 20px;
}

.about__content_news {
  padding: 20px 25px 25px 25px;
  width: 32%;
  background-color: #ccffc1;
  margin-left: 15px;
  border-radius: 10px;
}

.about__content_news .content__news_title {
  font-size: 24px;
  font-weight: 700;
  line-height: 1.25;
  color: #403f3d;
  margin-bottom: 10px;
}

.about__content_news .content__news_text {
  opacity: 0.9;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.33;
  color: #403f3d;
  margin-bottom: 50px;
}

.about__content_news .content__news_readmore {
  font-size: 14px;
  font-weight: 700;
  color: #7abf6a;
  text-decoration: none;
  position: relative;
}

.about__content_news .content__news_readmore::after {
  content: '';
  display: block;
  position: absolute;
  background-image: url("../../img/about/r-a-green.svg");
  background-repeat: no-repeat;
  top: 4px;
  right: -30px;
  width: 21px;
  height: 20px;
}

.about .about__mini_header {
  margin-bottom: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 1.23px;
  color: #7abf6a;
}

.about .about__news {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 -15px;
}

.about .about__news_item {
  width: 33.33333%;
  background-color: #f0efe9;
  margin: 0 15px;
  border-radius: 10px;
  padding: 20px 25px 25px 25px;
}

.about .about__news .news__item_header {
  margin-bottom: 10px;
  color: #b4b4b4;
}

.about .about__news .news__item_text {
  opacity: 0.9;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.38;
  color: #403f3d;
}

.report {
  background-image: url("../../img/report.jpg");
  background-position: center;
  background-size: cover;
  margin-bottom: 50px;
  min-height: 470px;
}

.report__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

.report__inner:before {
  content: '';
  position: absolute;
  top: -20px;
  left: -140px;
  z-index: 3;
  background-image: url("../../img/report/1.png");
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
}

.report__inner:after {
  content: '';
  position: absolute;
  bottom: -110%;
  left: 5%;
  z-index: 3;
  background-image: url("../../img/report/2.png");
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
}

.report__inner_title {
  font-size: 34px;
  font-weight: 900;
  line-height: 1.29;
  color: #403f3d;
  margin: 100px 0;
  padding-right: 50%;
}

.report__inner_number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-right: 40%;
}

.report__inner > .drop {
  -o-object-fit: contain;
     object-fit: contain;
  position: absolute;
  bottom: -35%;
  right: 0;
}

.report .number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.report .number__big {
  font-size: 70px;
  font-weight: 200;
  line-height: 0.63;
  color: #403f3d;
  font-family: 'MazzardH';
  margin-bottom: 15px;
}

.report .number__text {
  opacity: 0.3;
  font-family: DINPro;
  font-size: 20px;
  color: #403f3d;
}

.report .number__title {
  font-size: 20px;
  font-weight: 500;
  color: #403f3d;
  font-weight: 500;
}

.main {
  margin: 0;
}

.main__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main__left {
  width: 66.66666%;
  margin-right: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main__left_row {
  margin-bottom: 30px;
  background-color: #fff;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 25px;
}

.main__left_row.row2 {
  padding: 0;
  background-color: transparent;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin: 0 -15px;
  margin-bottom: 30px;
}

.main__left_row.row3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.main__left_row > .row1__text {
  font-size: 20px;
  font-weight: 700;
  color: #403f3d;
}

.main__left_row > .row1__img {
  max-width: 230px;
  widows: 100%;
  min-height: 210px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
  margin-right: 40px;
}

.main__left_row > .row2_item {
  background-color: #fff;
  border-radius: 10px;
  width: 50%;
  padding: 25px;
  margin: 0 15px;
}

.main__left_row .row2__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 30px;
}

.main__left_row .row2__header_date {
  color: #000;
  font-size: 16px;
  font-weight: 700;
}

.main__left_row .arrow__left {
  margin-right: 20px;
  cursor: pointer;
}

.main__left_row .arrow__right {
  cursor: pointer;
}

.main__left_row .row2__text {
  margin-bottom: 45px;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.5;
  color: #403f3d;
}

.main__left_row .row2__link {
  text-decoration: none;
  font-size: 16px;
  font-weight: 700;
  color: #e9bd38;
}

.main__left_row .row2__header_title {
  color: #e9bd38;
  font-weight: 700;
}

.main__left_row .row2__subtitle {
  margin-bottom: 18px;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.38;
  color: #000;
}

.main__left_row .row2__img, .main__left_row .row3__img {
  border-radius: 10px;
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.main__left_row .row3__title {
  width: 60%;
  font-size: 16px;
  font-weight: 700;
  color: #000;
  margin-bottom: 30px;
}

.main__left_row .row3__text {
  margin-top: 25px;
}

.main__right {
  background-color: #fff;
  width: 33.33333%;
  margin-left: 15px;
  border-radius: 10px;
  padding: 25px 25px 0 25px;
  margin-bottom: 30px;
}

.main__right_title {
  font-size: 16px;
  font-weight: 700;
  line-height: 1.5;
  color: #000;
  margin-bottom: 15px;
}

.main__right_subtitle {
  margin-bottom: 15px;
  font-size: 16px;
  line-height: 1.25;
  color: #403f3d;
}

.main__right_subtitle > span {
  margin-left: 10px;
  font-weight: bold;
  color: #000;
}

.main__right_content .content__data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 25px 0;
  border-bottom: 1px dashed #e9bd38;
}

.main__right_content .content__data:last-child {
  border-bottom: none;
}

.main__right_content .data__img {
  margin-right: 40px;
  margin-left: 5px;
  height: 30px;
  width: 30px;
}

.progresbar {
  margin-bottom: 50px;
}

.progresbar__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #fff;
  border-radius: 10px;
  padding: 25px 0;
}

.progresbar .vertical__graph {
  width: 60%;
  padding: 0 25px;
}

.progresbar .vertical__graph .wrapper {
  width: 100%;
  height: auto;
  border-bottom: 1px solid #979797;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-bottom: 70px;
}

.progresbar .vertical__graph .wrapper__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  font-size: 12px;
  font-weight: 700;
  font-family: 'MazzardH';
  position: relative;
}

.progresbar .vertical__graph .wrapper__item .year {
  position: absolute;
  bottom: -25px;
}

.progresbar .vertical__graph .number1,
.progresbar .vertical__graph .number2 {
  text-align: center;
  width: 35px;
  margin: 0 5px;
}

.progresbar .vertical__graph .p1 {
  display: block;
  height: 60px;
  background: #ffe44b;
  margin-top: 5px;
}

.progresbar .vertical__graph .p1-second {
  height: 55px;
}

.progresbar .vertical__graph .p1-third {
  height: 50px;
}

.progresbar .vertical__graph .p1-fourth {
  height: 45px;
}

.progresbar .vertical__graph .p2 {
  display: block;
  height: 140px;
  background: #7abf6a;
  margin-top: 5px;
}

.progresbar .vertical__graph .p2-second {
  height: 135px;
}

.progresbar .vertical__graph .p2-third {
  height: 130px;
}

.progresbar .vertical__graph .p2-fourth {
  height: 125px;
}

.progresbar .vertical__graph .graph__top_title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 30px;
}

.progresbar .vertical__graph .graph__top_title .top__title {
  font-size: 16px;
  font-weight: 700;
  color: #7abf6a;
}

.progresbar .vertical__graph .graph__top_title .top__title_yellow {
  font-size: 12px;
  padding-top: 3px;
  color: #403f3d;
  position: relative;
}

.progresbar .vertical__graph .graph__top_title .top__title_yellow:before {
  content: '';
  left: -15px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background-color: #ffe44b;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  position: absolute;
}

.progresbar .vertical__graph .graph__top_title .top__title_green {
  font-size: 12px;
  padding-top: 3px;
  color: #403f3d;
  position: relative;
}

.progresbar .vertical__graph .graph__top_title .top__title_green:before {
  content: '';
  left: -15px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background-color: #7abf6a;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  position: absolute;
}

.progresbar .vertical__graph .graph__bottom .wrapper {
  margin-bottom: 20px;
}

.progresbar .vertical__graph .graph__bottom .p1 {
  height: 25px;
}

.progresbar .vertical__graph .graph__bottom .p1-second {
  height: 45px;
}

.progresbar .vertical__graph .graph__bottom .p1-third {
  height: 100px;
}

.progresbar .vertical__graph .graph__bottom .p1-fourth {
  height: 120px;
}

.progresbar .vertical__graph .graph__bottom .p2 {
  height: 45px;
}

.progresbar .vertical__graph .graph__bottom .p2-second {
  height: 80px;
}

.progresbar .vertical__graph .graph__bottom .p2-third {
  height: 130px;
}

.progresbar .vertical__graph .graph__bottom .p2-fourth {
  height: 165px;
}

.progresbar .graph__title {
  color: #403f3d;
  font-weight: 700;
  font-size: 16px;
  text-transform: uppercase;
  margin-bottom: 15px;
}

.progresbar .circle__graph {
  padding: 0 25px;
  border-left: 1px solid #f9f7f2;
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.progresbar .circle__graph .circle__title {
  font-size: 16px;
  font-weight: 700;
  color: #7abf6a;
  margin-bottom: 40px;
}

.progresbar .circle__graph .circle__img {
  max-width: 350px;
  width: 100%;
}

.progresbar .circle__graph .paragraph {
  font-size: 12px;
  color: #403f3d;
  font-weight: 500;
  padding-left: 20px;
  position: relative;
}

.progresbar .circle__graph .paragraph:before {
  content: '';
  left: 0;
  top: 5px;
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #000;
}

.triple {
  margin-bottom: 50px;
}

.triple__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 -15px;
}

.triple__item {
  background-color: #fff;
  border-radius: 10px;
  width: 33.33333%;
  margin: 0 15px;
  padding: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.triple__item_calendar {
  -o-object-fit: contain;
     object-fit: contain;
  height: 100%;
  width: 100%;
}

.triple__item_title {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.29;
  color: #403f3d;
  margin-bottom: 15px;
}

.triple__item_text {
  font-size: 16px;
  line-height: 1.25;
  color: #403f3d;
  margin-bottom: 30px;
}

.triple .triple__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.triple .triple__item_input {
  padding: 10px 10px 10px 5px;
  border: none;
  outline: none;
  margin-bottom: 30px;
  border-bottom: 1px solid #403f3d15;
  font-size: 18px;
  font-weight: 700;
  color: #403f3d70;
}

.triple ::-webkit-input-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #403f3d70;
  opacity: 1;
  /* Firefox */
}

.triple :-ms-input-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #403f3d70;
  opacity: 1;
  /* Firefox */
}

.triple ::-ms-input-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #403f3d70;
  opacity: 1;
  /* Firefox */
}

.triple ::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #403f3d70;
  opacity: 1;
  /* Firefox */
}

.triple :-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #403f3d70;
}

.triple ::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #403f3d70;
}

.triple .triple__item_btn {
  width: 220px;
  height: 50px;
  background-color: #ffd903;
  font-size: 14px;
  letter-spacing: 0.44px;
  text-align: center;
  color: #403f3d;
  font-weight: 700;
  border: none;
}

.triple .radio__input_block {
  padding: 10px 0;
  border-bottom: 1px dashed #ffd903;
}

.triple .triple__check {
  margin-right: 15px;
}

.map {
  margin-bottom: 50px;
}

.map__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.map__img {
  margin-right: 15px;
  width: 66.66666%;
}

.map__img_photo {
  width: 100%;
  padding: 0 0 25px 25px;
}

.map__info {
  margin-left: 15px;
  width: 32%;
  border-radius: 10px;
}

.map__info .map__select_city {
  width: 100%;
  padding: 25px;
  background-color: #f0efe9;
  border-radius: 10px;
  margin-bottom: 30px;
}

.map__info .map__select_city .select__city {
  background-color: transparent;
  border: none;
  outline: none;
  border-bottom: 1px solid;
  width: 100%;
  padding: 5px 15px 15px 5px;
  font-size: 16px;
  font-weight: 500;
  color: #403f3d;
  margin-bottom: 80px;
}

.map__info .map__select_city .city__option {
  background-color: #bfb8a9;
}

.map__info .map__info_city {
  width: 100%;
  padding: 140px 25px 25px 25px;
  background-color: #fff;
  border-radius: 10px;
  position: relative;
}

.map__info .map__info_city .circle__slider {
  position: absolute;
  top: -25%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.map__info .map__info_city .circle__slider .circle__img {
  width: 210px;
  height: 210px;
  border-radius: 50%;
  padding: 10px;
  border: 3px solid #ffe44b;
}

.map__info .map__info_city .map__info_title {
  margin-bottom: 20px;
  font-size: 16px;
  font-weight: 700;
  color: #403f3d;
}

.map__info .map__info_city .map__info_subtitle {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.29;
  color: #403f3d;
}

.map__info .map__info_city .map__info_text {
  font-size: 14px;
  line-height: 1.29;
  color: #403f3d;
}

.map__info .map__info_city .link {
  color: #e9bd38;
  text-decoration: none;
}

.slider {
  margin-bottom: 50px;
}

.slider__content {
  border-left: 1px solid #e9bd38;
  border-right: 1px solid #e9bd38;
  width: 100%;
}

.slider .slider__ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  overflow: hidden;
}

.slider .slider__li {
  background-color: #fff;
  padding: 15px;
  margin: 10px;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 270px;
}

.slider .slider__li .li__text {
  margin-left: 20px;
}

.slider .slider__li a {
  text-decoration: none;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.29;
  color: #403f3d;
}

.footer {
  background-color: #fff;
}

.footer__content {
  border-bottom: 1px solid #403f3d15;
  padding: 40px 0 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__content .footer__content__left {
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__content .footer__content__left .left__row_text {
  font-size: 15px;
  color: #403f3d;
  margin-bottom: 25px;
}

.footer__content .footer__content__left .footer-tel {
  font-family: 'MazzardH';
  font-size: 20px;
  font-weight: 600;
  color: #403f3d;
  margin-bottom: 15px;
}

.footer__content .footer__content__right {
  width: 50%;
  margin-left: 30px;
  background-color: #f9f7f2;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-bottom: 15px;
}

.footer__content .footer__content__right .right__row {
  width: 50%;
  padding: 15px 0;
  position: relative;
}

.footer__content .footer__content__right .right__row.right .footer__row_mini {
  border: none;
}

.footer__content .footer__content__right .right__row_icon {
  position: absolute;
  top: 50%;
  left: 25px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.footer__content .footer__content__right .right__row_header {
  color: #403f3d;
  font-size: 13px;
  font-weight: 700;
  margin-bottom: 5px;
  padding: 0 40px 0 80px;
}

.footer__content .footer__content__right .footer__row_mini {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 20px 0 80px;
  border-right: 1px solid #403f3d15;
}

.footer__content .footer__content__right .footer__row_mini > p {
  opacity: 0.6;
  font-size: 12px;
  line-height: 1.5;
  color: #403f3d;
  margin: 0;
}

.footer__content .footer__content__right .footer__row_mini > span {
  font-size: 12px;
  font-weight: 500;
  line-height: 1.5;
  color: #403f3d;
}

.footer__copywrite {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 15px 0;
  font-size: 14px;
  line-height: 1.14;
  color: #403f3d;
}

.footer__copywrite a {
  text-decoration: none;
  color: #e9bd38;
  font-weight: 500;
}
