@import "_null";
@font-face {
	font-family: 'Conv';
	src: url('fonts/DIN Pro Black 900.eot');
	src: local('☺'), url('../../fonts/new/DIN\ Pro\ Black\ 900.woff') format('woff'), url('fonts/DIN Pro Black 900.ttf') format('truetype'), url('fonts/DIN Pro Black 900.svg') format('svg');
	font-weight: 900;
	font-style: normal;
}
@font-face {
	font-family: 'Conv';
	src: url('fonts/15767.eot');
	src: local('☺'), url('../../fonts/15767.woff') format('woff'), url('fonts/15767.ttf') format('truetype'), url('fonts/15767.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'MazzardH';
	src: url('fonts/MazzardH-ExtraLight.eot');
	src: local('☺'), url('../../fonts/MazzardH-ExtraLight.woff') format('woff'), url('fonts/MazzardH-ExtraLight.ttf') format('truetype'), url('fonts/MazzardH-ExtraLight.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
body {
    background-color: #f9f7f2;
	font-family: 'Conv';
    font-weight: 400;
}
.container {
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
    overflow: hidden;
}
@media (max-width: 1200px) {
    .container {
        width: 100%;
        max-width: 992px;
    }
    
}
@media (max-width: 1020px) {
    .container {
        width: 100%;
        max-width: 790px;
    }
}
@media (max-width: 810px) {
    .container {
        width: 100%;
        max-width: 668px;
    }
}

@media (max-width: 710px) {
    .container {
        width: 100%;
        max-width: 530px;
    }
}
@media (max-width: 575px) {
    .container {
        width: 90%;
    }
}

// Options=======================================================================

.options {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffe76f;
    color: #dbaa00;
    font-weight: 700;
    font-size: 12px;

    .options__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 6px 0;
    }
    
    &__left {
        &_icon {
            border-right: 1px solid #dbaa00;
            padding: 0 12px 0 12px;
            &:last-child {
            border-right: none;
            padding-right: 0;
            }
        }
        &_icon:first-child {
            padding: 0 12px 0 0;
        }
        .time {
            padding-right: 12px;
        }
    }
    .left__icon_img {
        cursor: pointer;
    }
    &__right {
        display: flex;
        align-items: center;
        &_icon {
            display: flex;
            align-items: center;
            border-left: 1px solid #dbaa00;
            padding: 0 12px 0 12px;
            cursor: pointer;
            &:first-child {
                border-left: none;
                padding-left: 0;
            }
            > span {
                margin-left: 5px;
            }
        }
        &_icon:last-child {
            padding: 0 0 0 12px;
        }
        .right__icon_title:last-child {
            padding-right: 5px;
        }
        .right__icon_img {
            padding-left: 3px;
        }
    }
    @media (max-width: 1020px) {
        .options__inner {
            flex-direction: column;
            justify-content: space-around;
        }
        .options__left {
            margin-bottom: 5px;
        }
    }
    @media (max-width: 575px) {
        display: none;
    }
}

// Header ==================================

.header {
    background-color: #fff;
    margin-bottom: 50px;

		&__inner {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 8px 0;
		}
		&__logo {
            display: flex;
            align-items: center;
        }
        .logo__title {
            color: #e9bd38;
            font-size: 16px;
            letter-spacing: 1px;
            font-weight: 700;
            cursor: pointer;
        }
        .logo__subtitle {
            font-weight: 400;
        }
        .logo__img {
            width: 60px;
            height: 60px;
            margin-right: 14px;
        }
        .nav {
            &__link {
                color: #403f3d;
                font-size: 16px;
                text-decoration: none;
                margin-left: 30px;
                &:first-child {
                    margin-left: 0;
                }
            }
        }
        .header__burger {
            display: none;
        }
        @media (max-width: 1020px) {
            .header__burger {
                display:block;
                width: 30px;
                height: 20px;
                position: relative;
            }
            .header__burger span {
                position: absolute;
                background-color: #e9bd38;
                left: 0;
                width: 100%;
                height: 2px;
                top: 9px;
                transition: .2s linear;
            }
            .header__burger:before,
            .header__burger:after {
                content: '';
                background-color: #e9bd38;
                position: absolute;
                width: 100%;
                height: 2px;
                left: 0;
                transition: .2s linear;

            }
            .header__burger:before {
                top: 0;
            }
            .header__burger:after {
                bottom: 0;
            }
            .header__burger.active span {
                transform: scale(0);
                background-color: transparent;
            }
            .header__burger.active:before {
                transform: rotate(45deg);
                top: 9px;
            }
            .header__burger.active:after {
                transform: rotate(-45deg);
                bottom: 9px;
            }
            .nav {
                position: fixed;
                z-index: 50;
                top: 0;
                left : -100%;
                width: 50%;
                height: 100vh;
                background-color: #000;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-evenly;
                opacity: .85;
                transition: .4s linear;
            }
            .nav.active {
                left: 0;
            }
            .nav a {
                color: rgb(226, 216, 216);
            }

        }
        @media (max-width: 1200px) {
            .nav__link {
                font-size: 14px;
                margin-left: 18px;
            }

        }
        @media (max-width: 575px) {
            margin-bottom: 15px;
        }

}

// Intro ===========================================

.intro {
    margin-bottom: 100px;
		&__inner {
            background-color: #fff;
            width: 100%;
            height: 300px;
            border-radius: 10px;
            padding: 15px;
            overflow: hidden;
        }
		&__img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 10px;
        }

    @media (max-width: 575px) {
        margin-bottom: 65px;
    }
}


// Tabs & About =======================================

.about {
    background-color: #fff;
    padding-bottom: 30px;
    padding-top: 30px;
    &__inner {
        // position: relative;
    }
    .container {
        overflow: visible;
    }
    &__tabs {
        // position: absolute;
        margin-top: -75px;
        left: 0;
        top: -50px;
        background-color: #fff;
        padding: 15px 30px;
        width: 100%;

        display: flex;
        justify-content: space-around;
        box-shadow: 0 2px 16px 0 rgba(138, 108, 33, 0.06);
        border-radius: 10px;
        .tabs__item {
            padding: 15px 30px;
    
            display: flex;
            align-items: center;
            border-right: 1px solid #f5d74263;
            &:last-child {
            border-right: none;
            }
        }
        .tabs__link {
            text-decoration: none;
            font-size: 14px;
            letter-spacing: 0.44px;
            color: #403f3d;
            font-weight: 700;
    
            margin-left: 25px;
        }
        @media (max-width: 810px) {
            flex-wrap: wrap;

            .tabs__item {
                padding: 5px 0px;
                border: none;
            }
        }
    }
	&__content {
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin: 30px 0 30px 0;  

		&_main {
            display: flex;
            justify-content: space-around;
            flex-direction: column;

            padding: 20px 25px 25px 25px;
            width: 66.66666%;
            background-color: #feeebd;
            margin-right: 15px;
            border-radius: 10px;
            position: relative;
            overflow: hidden;
            &:after {
                content: '';
                display: block;
                background-image: url('../../img/about/flower.png');
                background-repeat: no-repeat;
                background-size: contain;
                position: absolute;
                top: 0;
                left: 55%;
                width: 100%;
                height: 100%;
            }
            .content__main_header {
                margin-bottom: 35px;
                display: flex;
                font-size: 12px;
                font-weight: 700;
                letter-spacing: 1.23px;
                color: #e9bd38;
            }
            .main__header_title {
                margin-right: 50px;
            }
            .content__main_title {
                font-size: 24px;
                font-weight: 700;
                line-height: 1.25;
                color: #403f3d;
                margin-bottom: 10px;
                padding-right: 60%;
            }
            .content__main_text {
                opacity: 0.9;
                font-size: 18px;
                font-weight: 500;
                line-height: 1.33;
                color: #403f3d;
                margin-bottom: 50px;
                padding-right: 40%;
            }
            .content__main_readmore {
                font-size: 14px;
                font-weight: 700;
                color: #e9bd38;
                text-decoration: none;
                position: relative;
                &::after {
                    content: '';
                    position: absolute;
                    background-image: url('../../img/about/right-arrow.svg');
                    background-repeat: no-repeat;
                    top: 4px;
                    left: 107px;
                    width: 21px;
                    height: 20px;
                }
            }
        }
        
		&_news {
            padding: 20px 25px 25px 25px;
            width: 32%;
            background-color: #ccffc1;
            margin-left: 15px;
            border-radius: 10px;
            
            .content__news_title {
                font-size: 24px;
                font-weight: 700;
                line-height: 1.25;
                color: #403f3d;
                margin-bottom: 10px;
            }
            .content__news_text {
                opacity: 0.9;
                font-size: 18px;
                font-weight: 500;
                line-height: 1.33;
                color: #403f3d;
                margin-bottom: 50px;
            }
            .content__news_readmore {
                font-size: 14px;
                font-weight: 700;
                color: #7abf6a;
                text-decoration: none;
                position: relative;
                &::after {
                    content: '';
                    display: block;
                    position: absolute;
                    background-image: url('../../img/about/r-a-green.svg');
                    background-repeat: no-repeat;
                    top: 4px;
                    right: -30px;
                    width: 21px;
                    height: 20px;
                }
            }
		}
    }
    .about__mini_header {  // universal mini header
        margin-bottom: 35px;
        display: flex;
        justify-content: space-between;
        font-size: 12px;
        font-weight: 700;
        letter-spacing: 1.23px;
        color: #7abf6a;
    }
    .about__news {
        display: flex;
        justify-content: space-between;
        margin: 0 -15px;
        &_item {
            width: 33.33333%;
            background-color: #f0efe9;
            margin: 0 15px;
            border-radius: 10px;
            padding: 20px 25px 25px 25px;

        }
        .news__item_header {
            margin-bottom: 10px;
            color: #b4b4b4;
        }
        .news__item_text {
            opacity: 0.9;
            font-size: 16px;
            font-weight: 700;
            line-height: 1.38;
            color: #403f3d;
            a {
                text-decoration: none;
                color: #403f3d;

            }
        }
    }
    @media (max-width: 810px) {
        .about__content {
            flex-wrap: wrap;
        }
        .about__content_main, .about__content_news {
            width: 100%;
            margin: 0;
        }
        .about__content_main {
            margin-bottom: 30px;
        }
    }
    @media (max-width: 710px) {
        .about__news {
            flex-wrap: wrap;
        }
        .about__news_item {
            width: 100%;
            margin-bottom: 30px;
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
    @media (max-width: 575px) {
        .tabs__link {
            font-size: 12px;
        }
        .content__main_title {
            padding-right: 40%;
        }
    }

}


// Annual Report ==================================

.report {
    background-image: url("../../img/report.jpg");
    background-position: center;
    background-size: cover;
    margin-bottom: 50px;
    min-height: 470px;
    &__inner {
        display: flex;
        flex-direction: column;
        position: relative;
        &:before {
            content: '';
            position: absolute;
            top: -20px;
            left: -140px;
            z-index: 3;
            background-image: url('../../img/report/1.png');
            background-repeat: no-repeat;
            height: 100%;
            width: 100%;
        }
        &:after {
            content: '';
            position: absolute;
            bottom: -110%;
            left: 5%;
            z-index: 3;
            background-image: url('../../img/report/2.png');
            background-repeat: no-repeat;
            height: 100%;
            width: 100%;
            
        }

        &_title {
            font-size: 34px;
            font-weight: 900;
            line-height: 1.29;
            color: #403f3d;

            margin: 100px 0;
            padding-right: 50%;
        }

        &_number {
            display: flex;
            justify-content: space-between;
            padding-right: 40%;
        }

        > .drop {
            object-fit: contain;
            position: absolute;
            bottom: -35%;
            right: 0;
        }
    }

    .number {
        display: flex;
        flex-direction: column;
        &__big {
            font-size: 70px;
            font-weight: 200;
            line-height: 0.63;
            color: #403f3d;
            font-family: 'MazzardH';

            margin-bottom: 15px;
        }
        &__text {
            opacity: 0.3;
            font-family: DINPro;
            font-size: 20px;
            color: #403f3d;

        }
        &__title {
            font-size: 20px;
            font-weight: 500;
            color: #403f3d;
            font-weight: 500;

        }
    }
    @media (max-width: 1020px) {
        .report__inner_title {
            margin: 75px 0;
        }
        .number {
            width: 50%;
        }
    }
    @media (max-width: 810px) {
        .report__inner_title {
            padding-right: 25%;
            margin: 78px 0;
        }
        .number {
            width: 50%;
        }
        .report__inner_number {
            padding-right: 20%;
        }
    }
    @media (max-width: 575px) {
        margin-bottom: 30px;
        .report__inner_title {
            font-size: 32px;
        }
    }
}

// Main =============================================

.main {
    // margin-bottom: 30px;
    margin: 0;
    &__inner {
        display: flex;
        justify-content: space-between;
    }

    &__left {
        // background-color: #fff;
        width: 66.66666%;
        margin-right: 15px;
        display: flex;
        flex-direction: column;
        &_row {
            margin-bottom: 30px;
            background-color: #fff;
            border-radius: 10px;

            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 25px;

            &.row2 {
                padding: 0;
                background-color: transparent;
                align-items: flex-start;

                margin: 0 -15px;
                margin-bottom: 30px;
            }

            &.row3 {
                display: flex;
                flex-direction: column;
                align-items: flex-start;

            }

            >.row1__text {
                font-size: 20px;
                font-weight: 700;
                color: #403f3d;

            }
            >.row1__img {
                max-width: 230px;
                widows: 100%;
                min-height: 210px;
                object-fit: cover;
                border-radius: 10px;
                margin-right: 40px;
            }
            >.row2_item {
                background-color: #fff;
                border-radius: 10px;
                width: 50%;
                padding: 25px;
                margin: 0 15px;
            }
            .row2__header {
                display: flex;
                justify-content: space-between;
                margin-bottom: 30px;
            }
            .row2__header_date {
                color: #000;
                font-size: 16px;
                font-weight: 700;
            }
            .arrow__left {
                margin-right: 20px;
                cursor: pointer;
            }
            .arrow__right {
                cursor: pointer;
            }
            .row2__text {
                margin-bottom: 45px;
                font-size: 16px;
                font-weight: 700;
                line-height: 1.5;
                color: #403f3d;
            }
            .row2__link {
                text-decoration: none;
                font-size: 16px;
                font-weight: 700;
                color: #e9bd38;
            }
            .row2__header_title {
                color: #e9bd38;
                font-weight: 700;
            }
            .row2__subtitle {
                margin-bottom: 18px;
                font-size: 16px;
                font-weight: 700;
                line-height: 1.38;
                color: #000;
                            }
            .row2__img, .row3__img {
                border-radius: 10px;
                // height: 100%;
                width: 100%;
                object-fit: cover;
            }
            .row3__title {
                width: 60%;
                font-size: 16px;
                font-weight: 700;
                color: #000;
                margin-bottom: 30px;
            }
            .row3__text {
                margin-top: 25px;
            }

        }
    }


    &__right {
        background-color: #fff;
        width: 33.33333%;
        margin-left: 15px;
        border-radius: 10px;
        padding: 25px 25px 0 25px;
        margin-bottom: 30px;
        &_title {
            font-size: 16px;
            font-weight: 700;
            line-height: 1.5;
            color: #000;
            margin-bottom: 15px;

        }
        &_subtitle {
            margin-bottom: 15px;
            font-size: 16px;
            line-height: 1.25;
            color: #403f3d;
            >span {
                margin-left: 10px;
                font-weight: bold;
                color: #000;
            }
        }
        &_content {
            .content__data {
                display: flex;
                align-items: center;
                padding: 25px 0;
                border-bottom: 1px dashed #e9bd38;
                &:last-child {
                    border-bottom: none;
                }
                .data__content_count {
                    font-weight: 700;
                }
            }
            .data__img {
                margin-right: 40px;
                margin-left: 5px;
                height: 30px;
                width: 30px;
            }
        }
    }
    @media (max-width: 1200px) {
        .row2__header_title {
            width: 50%;
        }
    }
    @media (max-width: 1020px) {
        
    }
    @media (max-width: 810px) {

        .main__inner, .main__left {
            flex-wrap: wrap;
            width: 100%;
            margin-right: 0;
        }
        .main__left_row.row2 {
            flex-wrap: wrap;
            .row2_item {
                width: 100%;
                &:first-child {
                    margin-bottom: 30px;
                }
            }
        }
        .row3__title {
            width: 100%;
        }
        .main__right {
            width: 100%;
            margin-left: 0;
            .main__right_content {
                display: flex;
                flex-wrap: wrap;
            }
            .content__data {
                width: 50%;
            }
        }
        .main__left {
            flex-wrap: nowrap;
        }
    }
    @media (max-width: 575px) {
        .main__left {
            flex-wrap: nowrap;
        }
        .row1__img {
            margin-right: 0;
            margin-bottom: 15px;
        }
        .main__left_row {
            flex-wrap: wrap;
        }

    }
}


// Progress Bar =====================================

.progresbar {
    margin-bottom: 50px;

    &__inner {
        display: flex;
        justify-content: space-between;
        background-color: #fff;
        border-radius: 10px;
        padding: 25px 0;
    }

    .vertical__graph {
        width: 60%;
        padding: 0 25px;

        .wrapper {
            width: 100%;
            height: auto;
            border-bottom: 1px solid #979797;
            display: flex;
            justify-content: space-evenly;

            margin-bottom: 70px;
            &__item {
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: flex-end;
                font-size: 12px;
                font-weight: 700;
	            font-family: 'MazzardH';

                position: relative;
                .year {
                    position: absolute;
                    bottom: -25px;  
                }
            }
        }
          
          .number1, 
          .number2 {
            text-align: center;
            width: 35px;
            margin: 0 5px;
          }
          
          .p1 {
            display: block;
            height: 60px;
            background: #ffe44b;

            margin-top: 5px;
            &-second {
                height: 55px;
            }
            &-third {
                height: 50px;
            }
            &-fourth {
                height: 45px;
            }
          }
          .p2 {
            display: block;
            height: 140px;
            background: #7abf6a;

            margin-top: 5px;
            &-second {
                height: 135px;
            }
            &-third {
                height: 130px;
            }
            &-fourth {
                height: 125px;
            }   
          }
        // ==============================

        .graph__top_title {
            display: flex;
            justify-content: space-between;
            margin-bottom: 30px;

            .top__title {
                font-size: 16px;
                font-weight: 700;
                color: #7abf6a;
            }

            .top__title_yellow {
                font-size: 12px;
                padding-top: 3px;
                color: #403f3d;

                position: relative;
                &:before {
                    content: '';
                    left: -15px;
                    top: 50%;

                    transform: translateY(-50%);
                    background-color: #ffe44b;
                    width: 10px;
                    height: 10px;
                    border-radius: 50%;
                    position: absolute;
                }
            }

            .top__title_green {
                font-size: 12px;
                padding-top: 3px;

                color: #403f3d;
                position: relative;
                &:before {
                    content: '';
                    left: -15px;
                    top: 50%;

                    transform: translateY(-50%);
                    background-color: #7abf6a;
                    width: 10px;
                    height: 10px;
                    border-radius: 50%;
                    position: absolute;
                }
            }
        }

        .graph__bottom {
            h3 {
                padding-right: 5px;
            }
            .wrapper {
                margin-bottom: 20px;
            }
            .p1 {
                height: 25px;
                &-second {
                    height: 45px;
                }
                &-third {
                    height: 100px;
                }
                &-fourth {
                    height: 120px;
                }

            }
            .p2 {
                height: 45px;
                &-second {
                    height: 80px;
                }
                &-third {
                    height: 130px;
                }
                &-fourth {
                    height: 165px;
                }
            }

        }
    }

    .graph__title {
        color: #403f3d;
        font-weight: 700;
        font-size: 16px;
        text-transform: uppercase;
        margin-bottom: 15px;
    }



    .circle__graph {
        padding: 0 25px;
        border-left: 1px solid #f9f7f2;
        width: 40%;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        .circle__title {
            font-size: 16px;
            font-weight: 700;
            color: #7abf6a;

            margin-bottom: 40px;
        }
        .circle__img {
            max-width: 350px;
            width: 100%;
        }
        .paragraph {
            font-size: 12px;
            color: #403f3d;
            font-weight: 500;
            padding-left: 20px;

            position: relative;
            &:before {
                content: '';
                left: 0;
                top: 5px;
                position: absolute;
                width: 10px;
                height: 10px;
                border-radius: 50%;
                background-color: #000;
            }
        }
    }
    @media (max-width: 810px) {
        margin-bottom: 30px;
        .progresbar__inner{
            flex-wrap: wrap;
            
        }
        .vertical__graph, .circle__graph {
            width: 100%;
        }
        .circle__graph {
            margin-top: 30px;
        }
    }
}
    
// Triple ===============================================

.triple {
    margin-bottom: 50px;
    &__inner {
        display: flex;
        justify-content: space-between;
        margin: 0 -15px;
    }

    &__item {
        background-color: #fff;
        border-radius: 10px;
        width: 33.33333%;
        margin: 0 15px;
        padding: 25px;

        display: flex;
        flex-direction: column;
        &_calendar {
            object-fit: contain;
            height: 100%;
            width: 100%;
        }
    }
    &__item_title {
        font-size: 14px;
        font-weight: 700;
        line-height: 1.29;
        color: #403f3d;
        margin-bottom: 15px;
    }
    &__item_text {
        font-size: 16px;
        line-height: 1.25;
        color: #403f3d;
        margin-bottom: 30px;
    }
    .triple__form {
        display: flex;
        flex-direction: column;
        // justify-content: space-around;
    }
    .triple__item_input {
        padding: 10px 10px 10px 5px;
        border: none;
        outline: none;
        margin-bottom: 30px;
        border-bottom: 1px solid #403f3d15;

        font-size: 18px;
        font-weight: 700;
        color: #403f3d70;
    }
    ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
        color: #403f3d70;
        opacity: 1; /* Firefox */
      }
      
      :-ms-input-placeholder { /* Internet Explorer 10-11 */
        color: #403f3d70;
      }
      
      ::-ms-input-placeholder { /* Microsoft Edge */
        color: #403f3d70;
      }
    .triple__item_btn {
        width: 220px;
        height: 50px;
        background-color: #ffd903;
        font-size: 14px;
        letter-spacing: 0.44px;
        text-align: center;
        color: #403f3d;
        font-weight: 700;
        border: none;
    }
    .radio__input_block {
        padding: 10px 0;
        border-bottom: 1px dashed #ffd903;
    }
    .triple__check {
        margin-right: 15px;
    }
    @media (max-width: 1020px) {
        .radio__input_block {
            font-size: 15px;
        }
    }
    @media (max-width: 810px) {

        .triple__item {
            width: 50%;
            &:first-child {
                display: none;
            }       
        }
    }
    @media (max-width: 575px) {
        .triple__item_title {
            font-size: 12px;
        }
        .triple__item_text {
            font-size: 14px;
        }
        .radio__input_block label {

            font-size: 12px;
        }

    }
}


// Map ==========================================================

.map {
    margin-bottom: 50px;
    &__inner {
        display: flex;
        justify-content: space-between;
    }

    &__img {
        display: flex;
        align-items: center;
        margin-right: 15px;
        width: 66.66666%;
        &_photo {
            width: 100%;
            padding: 0 0 25px 25px;
        }
    }

    &__info {
        margin-left: 15px;
        width: 32%;
        border-radius: 10px;
        .map__select_city {
            width: 100%;
            padding: 25px;
            background-color: #f0efe9;
            border-radius: 10px;
            margin-bottom: 30px;
            .select__city {
                background-color: transparent;
                border: none;
                outline: none;
                border-bottom: 1px solid;
                width: 100%;
                padding: 5px 15px 15px 5px;
                font-size: 16px;
                font-weight: 500;
                color: #403f3d;
                margin-bottom: 80px;
            }
            .city__option {
                background-color: #bfb8a9;

            }
        }
        .map__info_city {
            width: 100%;
            padding: 140px 25px 25px 25px;
            background-color: #fff;
            border-radius: 10px;
            position: relative;
            .circle__slider {
                position: absolute;
                top: -25%;
                left: 50%;
                transform: translateX(-50%);
                .circle__img {
                    width: 210px;
                    height: 210px;
                    border-radius: 50%;
                    padding: 10px;
                    border: 3px solid #ffe44b;
                }
            }
            .map__info_title {
                margin-bottom: 20px;
                font-size: 16px;
                font-weight: 700;
                color: #403f3d;
            }
            .map__info_subtitle {
                font-size: 14px;
                font-weight: 500;
                line-height: 1.29;
                color: #403f3d;
            }
            .map__info_text {
                font-size: 14px;
                line-height: 1.29;
                color: #403f3d;
            }
            .link {
                color: #e9bd38;
                text-decoration: none;
            }
        }
        
    }
    @media (max-width: 810px) {
        .map__inner {
            flex-wrap: wrap;
            .select__city {
                width: 75%;
            }
        }
        .map__info, .map__img {
            width: 100%;
        }
        
    }
}


// Slider =============================================

.slider {
    margin-bottom: 50px;
    &__inner {
    }

    &__title {
    }

    &__content {
        border-left: 1px solid #e9bd38;
        border-right: 1px solid #e9bd38;
        width: 100%;
    }
    .slider__ul {
        list-style: none;
        display: flex;
        padding: 0;
        overflow: hidden;

    }
    .slider__li {
        background-color: #fff;
        padding: 15px;
        margin: 10px;
        border-radius: 10px;
        display: flex;
        align-items: center;
        width: 270px;
        .li__text {
            margin-left: 20px;
        }
        a {
            text-decoration: none;
            font-size: 14px;
            font-weight: 500;
            line-height: 1.29;
            color: #403f3d;
        }
    }
}


// Footer =============================================

.footer {
    background-color: #fff;

		&__content {
            border-bottom: 1px solid #403f3d15;
            padding: 40px 0 15px;
            display: flex;
            justify-content: space-between;
            .footer__content__left {
                width: 60%;
                display: flex;
                justify-content: space-between;
                .left__row_text {
                    font-size: 15px;
                    color: #403f3d;
                    margin-bottom: 25px;
                }
                .footer-tel {
                	font-family: 'MazzardH';
                    font-size: 20px;
                    font-weight: 600;
                    color: #403f3d;
                    margin-bottom: 15px;
                }
            }
            .footer__content__right {
                width: 50%;
                margin-left: 30px;
                background-color: #f9f7f2;
                border-radius: 10px;
                display: flex;
                justify-content: space-around;
                margin-bottom: 15px;
                .right__row {
                    width: 50%;
                    padding: 15px 0;
                    position: relative;
                    &.right {
                        .footer__row_mini {
                            border: none;
                        }
                    }
                }
                .right__row_icon {
                    position: absolute;
                    top: 50%;
                    left: 25px;
                    transform: translateY(-50%);
                }
                .right__row_header {
                    color: #403f3d;
                    font-size: 13px;
                    font-weight: 700;
                    margin-bottom: 5px;
                    padding:  0 40px 0 80px;
                }
                .footer__row_mini {
                    display: flex;
                    justify-content: space-between;
                    padding: 0 20px 0 80px;
                    border-right: 1px solid #403f3d15;
                    >p {
                        opacity: 0.6;
                        font-size: 12px;
                        line-height: 1.5;
                        color: #403f3d;
                        margin: 0;
                    }
                    >span {
                        font-size: 12px;
                        font-weight: 500;
                        line-height: 1.5;
                        color: #403f3d;
                    }
                }
            }
		}

		&__copywrite {
            display: flex;
            justify-content: space-between;
            padding: 15px 0;

            font-size: 14px;
            line-height: 1.14;
            color: #403f3d;
            a {
                text-decoration: none;
                color: #e9bd38;
                font-weight: 500;

            }
        }
    @media (max-width: 1020px) {
        .footer__content {
            flex-wrap: wrap;
            justify-content: center;
        }
        .footer__content__left,
        .footer__content__right {
            width: 100%;
        }
        .footer__content__right {
            margin-left: 0;
        }
    }
}








